body{
    font-family: Georgia, 'Times New Roman', Times, serif;

    --primary-color: #2d5c88;
    --light-primary-color: #96aec4;

    --secondary-color: #4e4e4e;
    --light-secondary-color: #d3d3d3;
}
.init-plate-container{
    background-color: lightgray; 
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 600px;
}

.init-block{
    background-color: pink;
    align-self:center;
    margin-left: 0px;
}
.right-side-container{
    display:flex;
    background-color: purple;
    flex-direction: column;
}
.name-tag-block{
    flex-grow: 1;
}
.under-name-tag-container{
    display:flex;
    background-color: rgb(204, 193, 167);
    flex-direction: row;
    flex-grow: 3;
}
.hp-block{
    background-color: red;
}
.ac-block{
    background-color: brown;
}